In [30]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
data_path = '../Data/cleanedData/cleaned_data.csv'
data = pd.read_csv(data_path)
area_name = 'Nam Từ Liêm'

In [32]:
area = data[data['Quận/Huyện'] == area_name]
area.shape

(37, 14)

In [34]:
month_price_path = '../Data/priceData/month_price.csv'
quarter_price_path = '../Data/priceData/quarter_price.csv'

In [40]:
month_prices = pd.read_csv(month_price_path)
quarter_prices = pd.read_csv(quarter_price_path)

month_prices.shape

(541, 26)

In [35]:
columns = 'Giá T10/22,Giá T11/22,Giá T12/22,Giá T1/23,Giá T2/23,Giá T3/23,Giá T4/23,Giá T5/23,Giá T6/23,Giá T7/23,Giá T8/23,Giá T9/23,Giá T10/23,Giá T11/23,Giá T12/23,Giá T1/24,Giá T2/24,Giá T3/24,Giá T4/24,Giá T5/24,Giá T6/24,Giá T7/24,Giá T8/24,Giá T9/24,Giá T10/24'
prices = pd.DataFrame(columns=columns.split(','))

In [36]:
quarter_to_months = {
    'Giá Q4/22': ['Giá T10/22', 'Giá T11/22', 'Giá T12/22'],
    'Giá Q1/23': ['Giá T1/23', 'Giá T2/23', 'Giá T3/23'],
    'Giá Q2/23': ['Giá T4/23', 'Giá T5/23', 'Giá T6/23'],
    'Giá Q3/23': ['Giá T7/23', 'Giá T8/23', 'Giá T9/23'],
    'Giá Q4/23': ['Giá T10/23', 'Giá T11/23', 'Giá T12/23'],
    'Giá Q1/24': ['Giá T1/24', 'Giá T2/24', 'Giá T3/24'],
    'Giá Q2/24': ['Giá T4/24', 'Giá T5/24', 'Giá T6/24'],
    'Giá Q3/24': ['Giá T7/24', 'Giá T8/24', 'Giá T9/24']
}

In [41]:
for index, row in area.iterrows():
    if row['Mã lịch sử giá'] == 'M':  # Nếu là giá tháng
        matching_row = month_prices[month_prices['index'] == index].drop(columns=['index'])
        if not matching_row.empty:
            prices = pd.concat([prices, matching_row], ignore_index=True)

In [42]:
prices.dropna().shape

(52, 25)